<h1> <%= @artist.name %> </h1>  
<div>
  <%= button_to "Delete Artist", @artist, :method => :delete %>
  <%= button_to "Edit Artist", edit_artist_path(@artist), :method => :get %>
</div>

<%= image_tag @artist.photo_url, class: 'artist-photo' %>
<h3><%= @artist.nationality %></h3>

<ul>
<% @artist.songs.each do |song| %>
  <li><%= song.title %></li>
<% end %>
</ul>

