<h1><%= @song.title %></h1>
<%= audio_tag @song.preview_url, controls: true %>
<h3>Album: <%= @song.album %></h3>



<div>
  <%= link_to 'Edit', edit_artist_song_path(@artist, @song) %> |
  <%= link_to 'Back', artist_path(@artist) %>
</div>